.fonte-titulo
{
    font-family: 'Pacifico', cursive;
    font-size: 75px;
}
.fonte-label
{
    font-family: 'Quicksand', sans-serif;
}
.fonte-texto
{
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}
.bg-pagina
{
 background-color:#F2F2F2 !important;
}

.bg-label {
    background-color: #2CBFB1 !important;
}

.bg-label:hover {
    background-color: #27D693 !important;
    transition: 0.1s linear 0.2s;
}


input, select {
    background-color: #E2F2DA!important;
}
.bg-link{
    background-color: #E2F2DA !important;
}

.animation {
    transition: 0.2s linear;
}